.no-transition * {
    transition: none !important;
}

* {
    --theme-transition-time: 1s;
    --docker-card-min-width: 18em;
    --docker-card-min-height: 10em;
    --docker-card-max-width: 18em;
    --docker-card-max-height: 10em;
}
body.dark * {
    --docker-primary: rgb(8, 72, 155);
    --docker-secondary: #20242c;
    --docker-tertiary: #1C262D;
    --docker-card-gripper: rgb(5, 57, 124);
    --font-colour: white;
    --text-shadow-colour: rgb(0 0 0 / 70%);
    --border-colour: black;
    --background-colour: #28292a;
    --content-background-colour: #242424;
    --nav-link-colour: 255,255,255;
    --nav-link-alpha: .8;
    --a-colour: #66b0ff;
    --a-hover-colour: #438bd8;
    transition: background .2s ease-in, border-color .2s ease-in;
}

body.light * {
    --docker-primary: #086DD7;
    --docker-secondary: white;
    --docker-tertiary: rgb(250, 250, 250);
    --docker-card-gripper: rgb(34, 128, 219);
    --font-colour: black;
    --text-shadow-colour: rgb(0 0 0 / 20%);
    --border-colour: #dee2e6;
    --background-colour: #f8f9fa;
    --content-background-colour: white;
    --nav-link-colour: 0,0,0;
    --nav-link-alpha: .5;
    --a-colour: #007bff;
    --a-hover-colour: #0056b3;
    transition: background .2s ease-in, border-color .2s ease-in;
}
 
body[data-popup="true"]>#dom-wrapper {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.bg {
    background-color: var(--background-colour);
}

.container-fluid.bg {
    background-color: var(--content-background-colour);
}

.navbar .navbar-nav .nav-link {
    color: rgba(var(--nav-link-colour), var(--nav-link-alpha)) !important;
}

.navbar .navbar-nav .nav-link.active {
    color: rgba(var(--nav-link-colour), 1) !important;
}

.border-left,.border-right,.border-top,.border-bottom {
    border-color: var(--border-colour) !important;
}

a {
    color: var(--a-colour) !important;
}
a:hover {
    color: var(--a-hover-colour) !important;
}

body[data-popup="true"]>#popup {
    display: block
}

#popup {
    display: none;
    position: absolute;
    border: var(--border-colour) solid 1px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
    background-color: var(--docker-secondary);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    max-width: 90%;
    color: var(--font-colour);
}

#popup h3[name="title"] {
    overflow-x: auto;
    overflow-y: hidden;
}

#popup input[type="button"][role="submit"] { display: none; }
#popup input[type="button"][role="ok"] { display: none; }
#popup input[type="button"][role="cancel"] { display: none; }

#popup[isForm="true"] input[type="button"][role="submit"] { display: inline-block; }
#popup[isForm="true"] input[type="button"][role="cancel"] { display: inline-block; }
#popup[isForm="false"] input[type="button"][role="ok"] { display: inline-block; }

#popup div[name="elems"] {
    max-height: 70vh;
    overflow-y: auto;
}
#popup div[name="elems"], #popup div[name="elems"] * {
    color: var(--font-colour);
    font-size: small;
}

.docker-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: var(--border-colour) solid 1px;
    min-width: var(--docker-card-min-width);
    max-width: var(--docker-card-max-width);
    min-height: var(--docker-card-min-height);
    max-height: var(--docker-card-max-height);
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    overflow: hidden;
    border-radius: 2%;
    /* margin: .25em; */
    color: var(--font-colour);
    background-color: var(--docker-secondary);
    position: relative;
}

.docker-card-gripper {
    background: var(--docker-card-gripper);
    width: 100%;
}

.docker-card-overlay {
    display: none;
}

.docker-card[removing="true"]>.docker-card-overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: 
        repeating-linear-gradient(
            45deg,
            rgba(255, 0, 0, 0),
            rgba(255, 0, 0, 0.5) 3px,
            rgba(255, 0, 0, 0) 6px
        );
    animation-name: slide_lr;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes slide_lr {
    from {
        background-position-x: left;
    }
    to {
        background-position-x: center;
    }
}

.docker-card>.docker-card-header {
    background-color: var(--docker-primary);
    padding: 4px;
    margin: 0;
    height: 3em;
    margin-bottom: 2px;
    position: relative;
    text-shadow: 2px 2px 2px var(--text-shadow-colour);
    -webkit-font-smoothing: antialiased;
}

.docker-card>.docker-card-header * {
    --font-colour: white;
}

.docker-card>.docker-card-header>h1,.docker-card>.docker-card-header>h2,.docker-card>.docker-card-header>h3,.docker-card>.docker-card-header>h4,.docker-card>.docker-card-header>h5 {
    color: var(--font-colour);
    font-family: "roboto-light", "Segoe UI Light", "Segoe UI", Calibri, Verdana, Geneva, "DejaVu Sans", sans-serif !important;
    font-weight: lighter !important;
    font-size: inherit !important;
    line-height: initial !important;
    margin: 0;
}

.docker-card>.docker-card-header>h5 {
    font-size: 0.83em !important;
} 
.docker-card>.docker-card-header>.container-icons {
    float: right;
    font-weight: 700;
    line-height: 1;
    opacity: .5;

    position: relative;
    padding: 0.1em;
    cursor: pointer;
}

.docker-card>.docker-card-header>.container-icons>.container-remove {
    font-size: 1rem;
    color: rgba(255, 0, 0, 1);
    text-shadow: 0 1px 0 rgba(255, 0, 0, .8);
}
.docker-card>.docker-card-header>.container-icons>.container-remove:hover {
    color: rgba(255, 0, 0, 0.3);
}
.docker-card[removing="true"]>.docker-card-header>.container-icons>.container-remove {
    font-weight: bold;
}

.docker-card>.docker-card-header>.container-icons>.container-refresh {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 #fff;
}
.docker-card>.docker-card-header>.container-icons>.container-refresh:hover {
    color: rgba(255, 255, 255, 0.3);
}

.docker-card[refreshing="true"]>.docker-card-header>.container-icons>.container-refresh {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transform-origin: 50% 58%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.docker-card>.docker-card-info {
    top: -0.2em;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 84px);
    width: 100%;
}

.docker-card>.docker-card-info table {
    line-height: initial !important;
    border-collapse: collapse;
    transition: transform 0.5s ease;
    margin-bottom: 0px;
}

.docker-card>.docker-card-info table tr>td {
    padding: .3em;
    overflow-x: auto;
    max-width: 10em;
}

.docker-card>.docker-card-info table tr>td::-webkit-scrollbar {
    width: 1em;
    height: .3em;
}

/* Track */
.docker-card>.docker-card-info table tr>td::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.docker-card>.docker-card-info table tr>td::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.docker-card>.docker-card-info table tr>td::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.docker-card>.docker-card-info table tr>td:nth-child(1) {
    text-align:left;
}
.docker-card>.docker-card-info table tr>td:nth-child(2) {
    text-align:right;
}

.docker-card>.docker-card-status {
    padding: .1em !important;
    padding-top: 0px !important;
    padding-bottom: .5em !important;
    
    width: 100%;
    color: var(--font-colour);
    text-shadow: 2px 2px 2px var(--text-shadow-colour);
    padding: 2px;
    box-sizing: border-box;
    background-color: var(--docker-tertiary);
    border: 1px solid rgba(var(--border-colour), 0.3);
}

.docker-card>.docker-card-status>.data {
    min-width: 7em;
    display: inline-block;
}

.docker-card>.docker-card-status>select {
    position: relative;
    right: 0px;
    top: 1%;
    font-size: 12px;
    min-width: 9.4em;
    max-width: 9.4em;
}

body.theme-transition #colour-mode {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

#colour-mode::after {
    cursor: pointer;
    color: var(--font-colour);
}

body.light #colour-mode::after {
    content: 'light_mode';
}

body.dark #colour-mode::after {
    content: 'dark_mode';
}

#image_cards>[snappable], #container_cards>[snappable] {
    flex: 1;
    border: var(--border-colour) dashed 1px !important;
}

[draggableArea] {
    background: var(--background-colour);
    border-radius: 4px;
    min-height: calc(var(--docker-card-max-height) + 1em);
    min-width: calc(var(--docker-card-max-width) + 1em);
}